<div class="card p-4 col-md-10">
    <div class="card-header">
        <h1>Agregar pelicula</h1>
    </div>
    <div class="card-body">
        <form action="/movies/add_movie" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Imagen para portada</label>
                <input type="file" class="form-control-file " id="image" name="image" required>
            </div>
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Titulo de la pelicula"
                    required>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea class="form-control" id="description" name="description"
                    placeholder="Descripción de la pelicula" required></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2" style="margin-right: 30px;">
                    <label for="description">Año</label>
                    <select class="form-control" name="year" id="year">
                        <script>
                            var d = new Date();
                            var n = d.getFullYear();
                            for (var i = n; i >= 1970; i--)
                                document.write('<option value="' + i + '">' + i + '</option>');
                        </script>
                    </select>
                </div>

                <div class="form-group col-md-9">

                    <label for="email">Categoria</label><br>

                    <div class="form-check form-check-inline">
                        <input class="form-control-input" type="checkbox" id="accion" name="accion" value="accion">
                        <label class="form-check-label" for="inlineCheckbox1">Accion</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="infantil" name="infantil" value="infantil">
                        <label class="form-check-label" for="inlineCheckbox1">Infantil</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="comedia" name="comedia" value="comedia">
                        <label class="form-check-label" for="inlineCheckbox1">Comedia</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="terror" name="terror" value="terror">
                        <label class="form-check-label" for="inlineCheckbox1">Terror</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ficcion" name="ficcion"
                            value="ciencia-ficcion">
                        <label class="form-check-label" for="inlineCheckbox1">Ciencia ficción</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="aventura" name="aventura" value="aventura">
                        <label class="form-check-label" for="inlineCheckbox1">Aventura</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="suspenso" name="suspenso" value="suspenso">
                        <label class="form-check-label" for="inlineCheckbox1">Suspenso</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="romance" name="romance" value="romance">
                        <label class="form-check-label" for="inlineCheckbox1">Romance</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="fanatasia" name="fantasia" value="fantasia">
                        <label class="form-check-label" for="inlineCheckbox1">Fantasia</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="drama" name="drama" value="drama">
                        <label class="form-check-label" for="inlineCheckbox1">Drama</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="animacion" name="animacion"
                            value="animacion">
                        <label class="form-check-label" for="inlineCheckbox1">Animación</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="crimen" name="crimen" value="crimen">
                        <label class="form-check-label" for="inlineCheckbox1">Crimen</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="misterio" name="misterio" value="misterio">
                        <label class="form-check-label" for="inlineCheckbox1">Misterio</label>
                    </div>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-2" style="margin-right: 30px;">
                    <label for="duration">Duración</label><br>
                    <input type="time" class="form-control" name="duration" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-9" style="">
                    <label for="duration">Agregar trailer</label><br>
                    <input type="text" class="form-control" placeholder="Ingresa trailer de youtube" name="trailer" required>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-light"><i class="fa fa-upload"></i>Ingresar pelicula</button>
        </form>
    </div>
</div>
