<br>
<div class="card col-9">
    <div class="card-body">
        <h3>Como descargar tus peliculas</h3>
        <hr>
        <span style="color: gray;">Autor: JDescargas | Posteado el 14/04/2020 | Educación, Entretenimiento </span>
        <hr>
        <p>Este es un post realizado por el equipo de JDescargas, el cual enseña a descargar las peliculas de nuestro sitio.

        </p>
        <p>
            Para descargar peliculas, JDescargas ha puesto links de descargas, los cuales los puedes encontrar al final de cada pelicula, en la sección links de descargas,
            cabe resaltar que ninguna de estas series o peliculas estan alojadas en nuuestros servidores (ver <a class="link" target="_blank" href="/legal"><b>Terminos y condiciones</b></a>)
            sin embargo, JDescargas organiza y recopila la información encontrada en internet o que es suministrada por nuestros colaboradores, para brindarla de una
            manera organizada y de facil acceso.
        </p>
        <p>
            Teniendo en cuenta que la información suministrada en muchas ocasiones ya no se encuentre, JDescargas da una guía practica para descargar peliculas.

        </p>
        <p>
            Para esto, necesitamos el programa Internet Download Manager (IDMAN), este programa optimiza la velocidad de
             tus bajadas de archivos reduciendo el tiempo y dando la posibilidad de pausar y reanudar tu descarga, pero la función que utilizaremos es la extensión que se instala 
             en tu navegador (Preferiblemente Google Chrome). Este programa solamente es de prueba, pero <a class="link" target="_blank" href="https://mega.nz/file/wYwUASyQ#6Xqms0CcU_bxwlalg6DpMKunZ-e5rd1VQ6MLHE3k9W8"><b>Aquí</b></a> te dejamos un link de descarga donde esta FULL con instrucciones
             para su instalación (Leer instrucciones antes de instalar)

        </p>
        <p>Una vez instalado el programa, vamos a nuestro navegador y comprobamos si la extensión ya esta instalada, en la parte superior derecha tal como se puede apreciar en la imagen 1.</p>
        <center><i>Imagen 1. Extensión en navegador</i><br>
        <div class="contenedor-responsivo"><img src="/img/ext-idman.png"></center><br>
        <p>
            Si no aparece la extensión como se muestra anteriormente, posiblemente tengas que habilitarla o instalarla tu mismo; Para esto, vamos a verificar primero si está instalada.
            Nos dirigimos a las herramientas de google chrome y buscamos "Extensiones" y ubicamos la extensión que debe lucir como se muestra en la imagen 2, posteriormente procedemos a habilitarla
            si es que esta deshabilitada.</p>
        <center><i>Imagen 2. Habilitar - Deshabilitar IDMAN</i><br>
        <div class="contenedor-responsivo"><img  src="/img/ext-idman2.png"></center><br>
        <p>Si por el contrario, la extensión no aparece entonces deberás instalarla tu mismo. Escribes en google "IDMAN extension" y entras al primer enlace (IDM Integration Module - Google Chrome)
            este enlace te re-direccionará a una página como se puede observar en la imagen 3, dar en la opción Añadir a chrome</p>
        <center><i>Imagen 3. IDMAN Chrome Web Store</i><br>
        <div class="contenedor-responsivo"><img style="width: 700px;"  src="/img/ext-idman3.png"></center><br>
        <p>Luego de añadir la extensión, aparecerá el icono de IDMAN en la parte superior derecha como en la figura 1. Una vez instalado, vamos a nuestra pelicula y reproducimos
            en cualquiera de las opciones de reproducción de JDescargas, al empezar a reproducir la pelicula, en la parte superior derecha del reproductor aparecerá un boton "Descargar este video"
            como se puede apreciar en la figura 4. Este boton aparece gracias a la extensión que previamente instalamos.</p>
                </div><center><i>Imagen 3. IDMAN Download</i><br>
        <div class="contenedor-responsivo"><img src="/img/ext-idman4.png"></div></center><br>
        <p>Solo queda por dar clic en descargar video e iniciar la descarga.</p>  
        <b>NOTA: En algunas ocasiones se debe actualizar la página para que el boton "descargar vieo" pueda aparecer, además en algunos enlaces no siempre funcionará o aparecerá el boton,
            por lo cual se recomienda intentar en varias opciones, si no aparece en ninguno de los enlaces no te preocupes, puedes recurrir a los enlaces de descarga que JDescarga tiene para ti. </b>  

        <p>Esperamos que este material haya sido de apoyo para ti, suerte. <i class="fas fa-grin-wink fa-2x"></i></p>
        
    </div>
    
</div>
<script>
  document.title = 'JDescargas - Descargar peliculas';
</script>