<br>
<div class="card col-9">
	<div class="card-body">
		<h1>Información legal JDescargas</h1>
		<hr>
		<p style="color: gray;">Lo que aquí se publica, es para el provecho y entretenimiento de todas las personas.</p>
		<p>Este sitio web es abierto a todo tipo de público en general, basado en el "linksharing", esto significa que el contenido es hecho por los 
			conocimientos de diferentes personas que la quieren compartir libremente, Este sitio está destinado con el propósito de que cualquier persona 
			en el mundo con sólo un acceso de conexión a Internet, pueda compartir y encontrar información por toda la red.
		</p>
		<p>JDescargas se ajusta al derecho de todo humano de enseñar y aprender, te indicamos cómo y dónde se encuentra la información que buscas, pero no se 
			almacena ningún tipo de películas ni imágenes en servidores propios, en este sitio no se hacen copias ilegales ni se daña o infringe ningún 
			Copyright © y/o Derechos de Autor.
		</p>	
		 <div class="row"><div class="col-1"></div><div class="col">
			 <p><b>• Todo lo publicado en este sitio fue encontrado en el World Wide Web</b>, de Internet. por lo que nos limitamos a decir dónde está y cómo conseguirla,
				 nosotros no la proveemos.</p>
				 <p><b>•	Este sitio no aloja ningún tipo de archivo en el servidor hosting</b>, Simplemente alojamos las imágenes creadas por los colaboradores del sitio.</p>
				
		 </div>
		</div>
		<hr>
		<p><b>Registro - Recopilación de información</b></p>
		<p>Con el fin de brindar un servicio personalizado, JDescargas da como opción un registro al usuario (No es obligatorio este registro), el cual nos ayuda 
			a recopilar la siguiente información</p>
		<div class="row">
			<div class="col-1"></div>
			<div class="col">
				<p><b>•	La información que usted nos proporciona:</b> Recopilamos la información que usted nos brinda, que incluye: su nombre, email, país, teléfono. Esta 
			información se recopila al registro de usuario y posteriormente puede ser modificada dentro del sitio web</p>

				<p><b>•	La información recopilada cuando usted elige proporcionar preferencias</b>, seleccionando añadir a mi lista o me gusta (en la sección “Películas,
			 añadir a mi lista o me gusta” de nuestro sitio web) o nos brinda información mediante sugerencias (en la sección “sugerencias”) o reportes (en la 
			 sección de “reportar película”) que usted mismo nos brinda.</p>
			</div>
		</div>
		
		<p>Esta recopilación de información JDescargas la usará con el fin de proporcionar contenido más personalizado según las preferencias y/o sugerencias que se
			 hayan realizado entorno al sitio web.</p>
		<p><b>• Perfiles:</b> Los perfiles permiten que cada usuario tenga su propia experiencia personalizada, de acuerdo con las series y las películas que le interesen. Tenga en cuenta que los perfiles estarán disponibles para cualquiera que use su cuenta de JDescargas, así que toda persona 
			 que tenga acceso a su cuenta de JDescargas puede navegar, usar, editar o borrar su perfil propio. Esto debe ser explicado a las otras personas que tengan acceso a su cuenta; si no 
			 desea que usen o modifiquen su perfil, asegúrese de que estén al tanto de dicha situación.</p>
		<p><b>Eliminar el acceso a su cuenta de JDescargas:</b> Para eliminar el acceso a su cuenta visite la sección "Mi perfil" de nuestro sitio web y elija “Elliminar mi cuenta”,
		 Si usted no mantiene de forma segura su contraseña (haciendo referencia a conexiones en lugares públicos como cafe-internet, colegios, universidades, tiendas informaticas entre otros),
		 o no cierra sesión, los usuarios posteriores podrán acceder a la información de su cuenta, incluida su información personal. Recuerde que esta opción es irreversible y JDescargas
		 Eliminará toda la información que usted haya proporcionado.</p>

		<hr>
		<i style="color: gray;">JDescargas además expresa que próximamente se realizará la recopilación automática de información tales como: La selección de películas, 
			la búsqueda de películas y las películas más vistas; así como la información recopilada a través del uso de cookies, contadores de visitas a la web y otras tecnologías, 
			incluidos los datos de publicidad (por ejemplo, información sobre la disponibilidad y entrega de anuncios, el URL del sitio, así como la fecha y la hora).</i>
			<br><br>

		<p><b><i style="color: gray;">Uso de la información</i></b></p>
		<div class="row">
			<div class="col-1"></div>
			<div class="col"><i style="color: gray;">
				<p>• Determinar la ubicación geográfica general donde se encuentra, brindarle recomendaciones de películas y series que consideramos que le pueden interesar, y ayudarnos a responder con mayor rapidez y eficiencia a las consultas y solicitudes.</p>
				<p>• Analizar y entender a nuestra audiencia, mejorar nuestro servicio (incluidas nuestras experiencias de IU) y optimizar la selección de contenido, los algoritmos de recomendación y la entrega.</p>
				<p>• Comunicarse con usted en relación con nuestro servicio, para poder enviarle noticias sobre JDescargas, detalles sobre nuevas funciones, contenidos disponibles, anuncios promocionales y encuestas para 
					consumidores, y para ayudarlo con solicitudes operativas, como restablecer su contraseña. Estas comunicaciones podrían enviarse mediante diversos métodos, como el email, las notificaciones automáticas, 
					los mensajes de texto y los canales de mensajería online.</p>
				</i>
			</div>
		</div>
		<hr>
		<p><b>QUEDA TERMINANTEMENTE PROHIBIDO EL ACCESO A ESTE SITIO WEB A TODO AQUEL QUE NO ESTÉ DE ACUERDO CON ESTOS TÉRMINOS Y NO LOS ACEPTE.</b></p>
		<hr>
		<p><b>Contacto</b></p>
		<p>
			Si tiene algún problema con lo que se publica en este sitio, preguntas generales sobre su cuenta o si tiene alguna pregunta específica
			 respecto de esta Declaración de privacidad, o nuestro uso de su información personal, puede enviar un correo a la dirección <a style="color:  black;" href="mailto:jdescargas2020@gmail.com"> <u>jdescargas2020@gmail.com</u></a> 
			 y uno de nuestros colaboradores le responderá.
		</p>
		<hr>
	</div>
</div>
<script>
  document.title = 'JDescargas - legal';
</script>





