<header>
    <nav style="background-color: #191919;" class="navbar navbar-expand-lg navbar-dark side">
        
        <div class="d-none d-md-none d-lg-block"><a href="/"><img width="50" height="50" src="/img/icono_jdescargas.png"></a></div>
        <div class="d-sm-none d-md-block d-lg-none"><a href="/"><img width="50" height="50" src="/img/icono_jdescargas.png"></a></div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
		<div class="d-none d-md-block d-lg-block" style="width: 500px;">
	      <form action="/index" method="GET" class="form-inline my-2 my-lg-0">
                <input style="position:relative; width:100%;" class="form-control mr-sm-2 side" type="search" name="s"
                    placeholder="Buscar pelicula" aria-label="Search">
            </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">

                </ul>
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                   <script>
                        if('{{user.typeuser}}' == 'user'){
                            document.write('<li class="nav-item"><button type="button" class="btn btn-light side" data-toggle="modal" data-target="#note">Añadir nota</button></li>');
                        }
                    </script>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: cornsilk;" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.name}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#if user.typeuser}}
                            <a class="dropdown-item" href="/users/regadmin">Administrador</a>
                            {{/if}}
                            <a class="dropdown-item" href="/users/myperf">Mi perfil</a>
                            <a class="dropdown-item" href="/conf">Configuración</a>
                            <a class="dropdown-item" href="/movies/mylist/{{user._id}}">
                                Mi lista<i class="fa fa-folder-open "></i>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/salir">Salir</a>

                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/entrar">Entrar</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <br>
</header>
<script>
    var url=location.href;
</script>
<!-- Modal Añadir nota-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Añadir nota</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/notes/new_note" method="post">
					<div class="form-group">
						<label>Titulo</label>
						<input type="text" name="title" class="form-control" placeholder="Titulo" autofocus required>
						</input>
					</div>
					<div class="form-group">
						<label>Descripción</label>
						<textarea name="description" class="form-control" placeholder="Descripción" required></textarea>
					</div>
                    <script>
                        document.write('<input type="hidden" name="url" value="'+url+'">');
                    </script>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-light">Guardar</button>
				</form>
				<button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>

			</div>
		</div>
	</div>
</div>
