<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark side" role="navigation">
        <a class="navbar-brand" href="/">JDescargas</a>
        <div class="container">
                <form action="/index" method="GET" class="form-inline my-2 my-lg-0">
                    <div class="form-group search">
                        <input style="width:500" class="form-control mr-sm-2 side" type="search" name="s"
                            placeholder="Buscar pelicula" aria-label="Search">
                        <button data-toggle="tooltip" title="Buscar" class="btn btn-outline-light my-2 my-sm-0"
                            type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                    <script>
                        if('{{user.typeuser}}' == 'user'){
                            document.write('<li class="nav-item"><button type="button" class="btn btn-light side" data-toggle="modal" data-target="#note">Añadir nota</button></li>');
                        }
                    </script>

                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.name}}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#if user.typeuser}}
                            <a class="dropdown-item" href="/users/regadmin">Administrador</a>
                            {{/if}}
                            <a class="dropdown-item" href="/users/myperf">Mi perfil</a>
                            <a class="dropdown-item" href="/conf">Configuración</a>
                            <a class="dropdown-item" href="/movies/mylist/{{user._id}}">
                                Mi lista<i class="fa fa-folder-open "></i>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/salir">Salir</a>

                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/entrar">Sugerencias</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/users/entrar">Entrar</a>
                    </li>
                    {{/if}}
                </ul>

            
        </div>
    </nav>

</header>
<script>
    var url=location.href;
</script>
<br><br>
<!-- Modal Añadir nota-->
<div class="modal fade" id="note" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Añadir nota</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/notes/new_note" method="post">
					<div class="form-group">
						<label>Titulo</label>
						<input type="text" name="title" class="form-control" placeholder="Titulo" autofocus required>
						</input>
					</div>
					<div class="form-group">
						<label>Descripción</label>
						<textarea name="description" class="form-control" placeholder="Descripción" required></textarea>
					</div>
                    <script>
                        document.write('<input type="hidden" name="url" value="'+url+'">');
                    </script>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-light">Guardar</button>
				</form>
				<button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>

			</div>
		</div>
	</div>
</div>