<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark side">
        <div class="container">
            <a class="navbar-brand" href="/">JDescargas</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form action="/index" method="GET" class="form-inline my-2 my-lg-0">
                    <div class="form-group search">
                        <input style="width:500" class="form-control mr-sm-2 side" type="search" name="s" placeholder="Buscar pelicula" aria-label="Search">
                        <button data-toggle="tooltip" title="Buscar" class="btn btn-outline-light my-2 my-sm-0" type="submit"><i
                                class="fas fa-search"></i></button>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.name}}
                        </a>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{#if user.typeuser}}
                            <a class="dropdown-item" href="/users/regadmin">Administrador</a>
                            {{/if}}
                            <a class="dropdown-item" href="/users/myperf">Mi perfil</a>
                            <a class="dropdown-item" href="/conf">Configuración</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/salir">Salir</a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/entrar">Sugerencias</a>
                        </li>
                      
                    <li class="nav-item">
                           <a class="nav-link" href="/users/entrar">Entrar</a>   
                    </li>
                        {{/if}}


                </ul>

            </div>
        </div>
    </nav>

</header>
<br><br>