<nav class="main-menu navbar-dark bg-dark side">
    <ul>
        <li>
            <a href="/users/all_users">
                <i class="fa fa-users fa-2x"></i>
                <span class="nav-text">
                    Usuarios
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="/movies/all_movies">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Peliculas
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="/notes">
                <i class="fa fa-sticky-note fa-2x"></i>
                <span class="nav-text">
                    Notas
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    Pages
                </span>
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Graphs and Statistics
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-font fa-2x"></i>
                <span class="nav-text">
                    Quotes
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Tables
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Maps
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
        <li>
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">Dropdown</span>
            </a>

            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>

            </div>

        </li>
        <li>
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">Dropdown</span>
            </a>

            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>

            </div>

        </li>
    </ul>


    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>

    </ul>
</nav>