<nav style="background-color: #191919;" class="main-menu navbar-dark side">
    <ul>
        <li>
            <a href="/users/all_users/1">
                <i class="fa fa-users fa-2x"></i>
                <span class="nav-text">
                    Usuarios
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="/movies/all_movies/1">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Peliculas
                </span>
            </a>

        </li>
        <li class="has-subnav ">
            <a href="/movies/mylist/{{user._id}}">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    Mi lista
                </span>
            </a>

        </li>
        <li>
            <a href="/movies/reports/{{user._id}}">
                <i class="fa fa-snowplow fa-2x"></i>
                <span class="nav-text">
                    Reportes
                </span>
            </a>
        </li>
        <li>
            <a href="/suggestions">
                <i class="fa fa-font fa-2x"></i>
                <span class="nav-text">
                    Sugerencias
                </span>
            </a>
        </li>
        <li>
            <a href="/notes">
                <i class="fa fa-clipboard fa-2x"></i>
                <span class="nav-text">
                    Notas
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Maps
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
        <li>
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">Dropdown</span>
            </a>

            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>

            </div>

        </li>
        <li>
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">Dropdown</span>
            </a>

            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>

            </div>

        </li>
    </ul>


    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>

    </ul>
</nav>