<nav class="main-menu navbar-dark bg-dark side">
    <ul>

        <li>
            <a href="/">
                <i class="fa fa-align-justify fa-2x"></i>
                <h4 class="nav-text">
                    Categorias
                </h4>
            </a>
<hr>
        </li>
        <li class="has-subnav">
            <a href="/category/accion">
                <i class="fa fa-2x">Ac</i>
                <h4 class="nav-text">
                    Acción
                </h4>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/category/aventura">
                <i class="fa fa-2x">Av</i>
                <h4 class="nav-text">
                    Aventura
                </h4>
            </a>
        </li>
              <li class="has-subnav">
            <a href="/category/infantil">
                <i class="fa fa-2x">In</i>
                <h4 class="nav-text">
                    Infantil
                </h4>
            </a>
        </li>
              <li class="has-subnav">
            <a href="/category/comedia">
                <i class="fa fa-2x">Co</i>
                <h4 class="nav-text">
                    Comedia
                </h4>
            </a>
        </li>
              <li class="has-subnav">
            <a href="/category/terror">
                <i class="fa fa-2x">Te</i>
                <h4 class="nav-text">
                    Terror
                </h4>
            </a>
        </li>
              <li class="has-subnav">
            <a href="/category/suspenso">
                <i class="fa fa-2x">Su</i>
                <h4 class="nav-text">
                    Suspenso
                </h4>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/category/ciencia ficcion">
                <i class="fa fa-2x">Cf</i>
                <h4 class="nav-text">
                    Ciencia ficcion
                </h4>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/category/romance">
                <i class="fa fa-2x">Ro</i>
                <h4 class="nav-text">
                    Romance
                </h4>
            </a>
        </li>
        <li class="has-subnav">
            <a href="/category/drama">
                <i class="fa fa-2x">Dr</i>
                <h4 class="nav-text">
                    Drama
                </h4>
            </a>
        </li>
        <!--
        <li class="has-subnav">
            <a href="/notes">
                <i class="fa fa-sticky-note fa-2x"></i>
                <span class="nav-text">
                    Notas
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    Pages
                </span>
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Graphs and Statistics
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-font fa-2x"></i>
                <span class="nav-text">
                    Quotes
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Tables
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Maps
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Documentation
                </span>
            </a>
        </li>
        <li>
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">Dropdown</span>
            </a>

            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>

            </div>

        </li>
        <li>
            <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">Dropdown</span>
            </a>

            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Separated link</a>

            </div>

        </li>
        -->
    </ul>


    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>

    </ul>
</nav>