<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <h5 class="card-title"><a href="/users/all_users"><span style="color:dimgray; font-size: 20px;"><i
                            class="fas fa-arrow-left"></i></span></a> Eliminar usuario {{usuario.name}}</h5>
            <hr class="my-4">
            <h6 class="card-subtitle mb-2 text-muted">(Esta acción es irreversible)</h6>
            <p class="card-text">¿Esta seguro de eliminar este usuario?</p>
            <hr class="my-4">
            <form action="/users/delete_user/{{usuario._id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <button class="btn btn-light btn-block" type="submit">Eliminar</button>
            </form>
        </div>
    </div>
</center>